
@mixin contentFont() {
  text-transform: uppercase;
  color: white;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

@mixin backgroundInfo($image) {
  background-size: cover;
  height: 100vh;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  //background-position-y: 10px;
  background-attachment: fixed;
}

.home {

  // Starting point
  .div-1 {
    @include backgroundInfo('/images/background.jpg');

    &.section {
      padding: 15px;
    }

    &--content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65%;
    }

  }

  // Guinness
  .div-2 {
    @include backgroundInfo('/images/1-Home/2.1-guinness.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 65%;
      padding-right: 50px;
      p {
        @include contentFont();
        text-align: right;
        font-size: 25px;
      }
    }
  }

  // Veridium
  .div-3 {
    @include backgroundInfo('/images/v2/1-new-veridium.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 65%;
      padding-left: 150px;
      p {
        @include contentFont();
        text-align: left;
        font-size: 33pt;
      }
    }
  }

  // Belichick
  .div-4 {
    @include backgroundInfo('/images/v2/2-new-belichick.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 65%;
      padding-right: 100px;
      p {
        @include contentFont();
        text-align: right;
        letter-spacing: 1px;
        font-size: 29px;
      }
    }
  }

  // Contact
  .div-contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-blue;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
      align-items: center;
      p {

        a {
          color: white;
        }

        color: white;
        letter-spacing: 1px;
        font-size: 20px;
        padding: 10px;
      }
      .name {
        p {
          font-size: 29px;
        }
        padding: 10px 0;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }


}