
$breakpoint: 800px;

@mixin contentFont() {
  text-transform: uppercase;
  color: white;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

@mixin backgroundInfo($image) {
  background-size: cover;
  height: 100vh;
  background-image: url($image);
  background-repeat: no-repeat;
}

.home {

  // Starting point
  .div-1 {
    @include backgroundInfo('/images/background-min.jpg');

    .alt-text {
      color: white;
      font-size: 22px;
    }

    .c-btn {
      font-size: 16px;
    }

    &.section {
      padding: 0;
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      //margin-top: 50px;


      .nav-side {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $breakpoint) {
          a {
            visibility: hidden;
          }
        }
      }

    }

    &--content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 80%;
    }

    &--main {
      display: flex;
      flex-grow: 1;
      align-items: center;

      @media (max-width: 600px) {
        padding-bottom: 100px;
      }

    }

    &--bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;

      @media (min-width: 801px) {
        a {
          visibility: hidden;
        }
      }

    }

  }

  // Guinness
  .div-2 {
    @include backgroundInfo('/images/guinness-min.jpg');

    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $breakpoint) {
      background-position-x: -179px;
    }

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 65%;
      padding-right: 50px;

      @media (max-width: $breakpoint) {
        align-items: center;
        height: 90%;
        padding-bottom: 200px;
        justify-content: flex-start;
        padding-right: 0;

        a {
          margin-top: 200px;
        }

      }
      p {
        @include contentFont();
        text-align: right;
        font-size: 34px;

        @media (max-width: $breakpoint) {
          font-size: 29px;
          text-align: center;
        }

      }
    }
  }

  .matchcut {
    @include backgroundInfo('/images/matchcut-bg.jpg');

    @media (max-width: $breakpoint) {
      background-position-x: -236px;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 65%;
      padding-left: 150px;


      @media (max-width: $breakpoint) {
        padding-left: 0;
        align-items: center;
      }

      p {
        @include contentFont();
        text-align: left;
        font-size: 34px;

        @media (max-width: $breakpoint) {
          text-align: center;
          font-size: 27pt;
        }

      }
    }
  }

  .symphony {
    @include backgroundInfo('/images/symphony-bg.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $breakpoint) {
      background-position-x: -335px;
    }

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 65%;
      padding-right: 75px;

      @media (max-width: $breakpoint) {
        padding-right: 0;
        align-items: center;
      }

      p {
        @include contentFont();
        text-align: right;
        letter-spacing: 1px;
        font-size: 29px;
        @media (max-width: $breakpoint) {
          text-align: center;
          font-size: 25px;
        }
      }
    }
  }

  // Contact

  $contact-breakpoint: 500px;

  .div-contact {

    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-blue;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;

      @media (max-width: $contact-breakpoint) {
        padding: 25px;
      }

      align-items: center;
      p {

        a {
          color: white;
        }

        color: white;
        letter-spacing: 1px;

        font-size: 20px;
        @media (max-width: $contact-breakpoint) {
          font-size: 18px;
        }

        padding: 10px 0 40px;
      }
      .name {
        p {
          font-size: 29px;
          margin-top: -10px;
          margin-bottom: 50px;

          @media (max-width: $contact-breakpoint) {
            margin-bottom: 20px;
          }

        }
        //padding: 10px 0;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }


}