$breakpoint: 900px;

.portfolio {

  display: flex;
  flex-wrap: wrap;

  @media (max-width: 840px) {
    flex-direction: column;
  }

  .portfolio-item {
    cursor: pointer;
    flex-basis: 33%;
    padding: 8px;
  }

}

.portfolio-modal {

  padding: 0;

  max-width: 1100px;
  background: white;
  display: flex !important;


  @media (max-width: $breakpoint) {
    //width: 85%;
    margin: auto;
  }

  .portfolio-asset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;

    img {
      max-height: 90vh;
    }
    @media (max-width: $breakpoint) {
      padding: 10px;
    }
  }

  .portfolio-meta {
    flex: 1;
    width: 500px;
    background: $color-portfolio-meta;
    color: white;
    padding: 15px;

    @media (max-width: $breakpoint) {
      display: none;
    }

    .portfolio-title {
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

  }

}

.modal-card {
  @media (min-width: 769px) {
    max-width: 900px;
  }
}

.heading {
  text-align: center;

  .title {
    font-weight: 700;
    font-size: 55px;

    @media (max-width: 700px) {
      font-size: 40px;
    }

  }

}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}